<a href="https://colab.research.google.com/github/marqub/gbif-species-distribution-analysis/blob/main/notebooks/phase-1-data-exploration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [50]:
%%capture
!pip install https://github.com/pandas-profiling/pandas-profiling/archive/master.zip 
!pip install numpy pandas streamlit gdown pyarrow
!pip install git
!pip install --upgrade pandas-profiling
!pip show pandas-profiling
!pip install pytz

In [51]:
import markupsafe
print(markupsafe.__version__)
# Import necessary libraries
import pandas as pd
import numpy as np
import git
import os
import zipfile
from pandas_profiling import ProfileReport
import pytz as tz

2.0.1

In [52]:
# Show all columns (instead of cascading columns in the middle)
pd.set_option("display.max_columns", None)
# Don't show numbers in scientific notation
pd.set_option("display.float_format", "{:.2f}".format)

In [53]:
# Load GBIF dataset
repo = git.Repo.clone_from("https://github.com/marqub/gbif-species-distribution-analysis.git", "gbif-species-distribution-analysis")

In [54]:
os.chdir("gbif-species-distribution-analysis/data")
with zipfile.ZipFile("gbif_data_2016to2022_northamerica.csv.zip", "r") as zip_ref:
    zip_ref.extractall(".")

In [55]:
df = pd.read_csv("0233944-220831081235567.csv", sep='\t', on_bad_lines='skip')

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (10,14,16,36,37,38,39,40,41,43,44,45,46,48,49) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [56]:
# Explore the data
# Use df.info() to get a summary of the data types and missing values in the dataset
print(df.info())
# Use df.head() to view the first few rows of the dataset
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 616318 entries, 0 to 616317
Data columns (total 50 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   gbifID                            616318 non-null  int64
 1   datasetKey                        616318 non-null  object
 2   occurrenceID                      616301 non-null  object
 3   kingdom                           616318 non-null  object
 4   phylum                            613735 non-null  object
 5   class                             563890 non-null  object
 6   order                             540768 non-null  object
 7   family                            591741 non-null  object
 8   genus                             530786 non-null  object
 9   species                           455886 non-null  object
 10  infraspecificEpithet              21782 non-null   object
 11  taxonRank                         616318 non-null  object
 12  scientificName                    616318 non-null  object
 13  verbatimScientificName            604027 non-null  object
 14  verbatimScientificNameAuthorship  243727 non-null  object
 15  countryCode                       613282 non-null  object
 16  locality                          499963 non-null  object
 17  stateProvince                     594805 non-null  object
 18  occurrenceStatus                  616318 non-null  object
 19  individualCount                   253318 non-null  float64
 20  publishingOrgKey                  616318 non-null  object
 21  decimalLatitude                   536572 non-null  float64
 22  decimalLongitude                  536572 non-null  float64
 23  coordinateUncertaintyInMeters     169598 non-null  float64
 24  coordinatePrecision               120 non-null     float64
 25  elevation                         131838 non-null  float64
 26  elevationAccuracy                 77630 non-null   float64
 27  depth                             11972 non-null   float64
 28  depthAccuracy                     5689 non-null    float64
 29  eventDate                         616318 non-null  object
 30  day                               602572 non-null  float64
 31  month                             605523 non-null  float64
 32  year                              616318 non-null  int64
 33  taxonKey                          616318 non-null  int64
 34  speciesKey                        455885 non-null  float64
 35  basisOfRecord                     616318 non-null  object
 36  institutionCode                   515538 non-null  object
 37  collectionCode                    500744 non-null  object
 38  catalogNumber                     493044 non-null  object
 39  recordNumber                      153893 non-null  object
 40  identifiedBy                      329860 non-null  object
 41  dateIdentified                    205128 non-null  object
 42  license                           616318 non-null  object
 43  rightsHolder                      235486 non-null  object
 44  recordedBy                        498483 non-null  object
 45  typeStatus                        1353 non-null    object
 46  establishmentMeans                34958 non-null   object
 47  lastInterpreted                   616318 non-null  object
 48  mediaType                         73511 non-null   object
 49  issue                             518132 non-null  object
dtypes: float64(12), int64(3), object(35)
memory usage: 235.1+ MB
None

,gbifID,datasetKey,occurrenceID,kingdom,phylum,class,order,family,genus,species,infraspecificEpithet,taxonRank,scientificName,verbatimScientificName,verbatimScientificNameAuthorship,countryCode,locality,stateProvince,occurrenceStatus,individualCount,publishingOrgKey,decimalLatitude,decimalLongitude,coordinateUncertaintyInMeters,coordinatePrecision,elevation,elevationAccuracy,depth,depthAccuracy,eventDate,day,month,year,taxonKey,speciesKey,basisOfRecord,institutionCode,collectionCode,catalogNumber,recordNumber,identifiedBy,dateIdentified,license,rightsHolder,recordedBy,typeStatus,establishmentMeans,lastInterpreted,mediaType,issue
0,2885135301,90d8babc-685f-449e-a4ec-7275ca7655c7,871d7336-1a5b-4926-8d12-c2102f55975b,Animalia,Arthropoda,Insecta,Hymenoptera,Apidae,Bombus,Bombus johanseni,NaN,SPECIES,"Bombus johanseni (Sladen, 1919) Sladen, 1919",Bombus johanseni Sladen,Sladen,CA,"Kitikmeot, Cambridge Bay",Nunavut,PRESENT,1.00,39fd7088-af63-4ad5-8d30-479a720a368b,69.13,-105.06,NaN,NaN,NaN,NaN,NaN,NaN,2018-08-09T00:00:00,9.00,8.00,2018,10827632,10827632.00,PRESERVED_SPECIMEN,CBG,NaN,DCHAR2640-19,NaN,Cory S. Sheffield,2020-01-01T00:00:00,CC0_1_0,NaN,Collector(s): CBG Team 3,NaN,NaN,2022-11-25T07:54:38.249Z,NaN,OCCURRENCE_STATUS_INFERRED_FROM_INDIVIDUAL_COU...
1,2885135303,90d8babc-685f-449e-a4ec-7275ca7655c7,60874093-5130-4d84-baa4-eafd4de80718,Animalia,Arthropoda,Insecta,Hymenoptera,Apidae,Bombus,Bombus johanseni,NaN,SPECIES,"Bombus johanseni (Sladen, 1919) Sladen, 1919",Bombus johanseni Sladen,Sladen,CA,"Sach's Harbour, Banks Island",Northwest Territories,PRESENT,1.00,39fd7088-af63-4ad5-8d30-479a720a368b,71.99,-125.25,NaN,NaN,NaN,NaN,NaN,NaN,2018-07-09T00:00:00,9.00,7.00,2018,10827632,10827632.00,PRESERVED_SPECIMEN,RSKM,ENT,RSKM_ENT_E-199719,NaN,Cory S. Sheffield,2020-01-01T00:00:00,CC_BY_4_0,NaN,Collector(s): J.M. Heron,NaN,NaN,2022-11-25T07:54:38.509Z,NaN,OCCURRENCE_STATUS_INFERRED_FROM_INDIVIDUAL_COU...
2,2885135305,90d8babc-685f-449e-a4ec-7275ca7655c7,6b69e42c-2710-46bb-8581-8a6c6f5701dc,Animalia,Arthropoda,Insecta,Hymenoptera,Apidae,Bombus,Bombus johanseni,NaN,SPECIES,"Bombus johanseni (Sladen, 1919) Sladen, 1919",Bombus johanseni Sladen,Sladen,CA,"Sach's Harbour, Banks Island",Northwest Territories,PRESENT,1.00,39fd7088-af63-4ad5-8d30-479a720a368b,71.99,-125.29,NaN,NaN,NaN,NaN,NaN,NaN,2018-07-07T00:00:00,7.00,7.00,2018,10827632,10827632.00,PRESERVED_SPECIMEN,RSKM,ENT,RSKM_ENT_E-199704,NaN,Cory S. Sheffield,2020-01-01T00:00:00,CC_BY_4_0,NaN,Collector(s): J.M. Heron,NaN,NaN,2022-11-25T07:54:38.551Z,NaN,OCCURRENCE_STATUS_INFERRED_FROM_INDIVIDUAL_COU...
3,2885135306,90d8babc-685f-449e-a4ec-7275ca7655c7,426e6fd4-8074-41a4-82ef-8c796837d99e,Animalia,Arthropoda,Insecta,Hymenoptera,Apidae,Bombus,Bombus johanseni,NaN,SPECIES,"Bombus johanseni (Sladen, 1919) Sladen, 1919",Bombus johanseni Sladen,Sladen,CA,"Sach's Harbour, Banks Island",Northwest Territories,PRESENT,1.00,39fd7088-af63-4ad5-8d30-479a720a368b,71.99,-125.24,NaN,NaN,NaN,NaN,NaN,NaN,2018-07-04T00:00:00,4.00,7.00,2018,10827632,10827632.00,PRESERVED_SPECIMEN,RSKM,ENT,RSKM_ENT_E-199663,NaN,Cory S. Sheffield,2020-01-01T00:00:00,CC_BY_4_0,NaN,Collector(s): J.M. Heron,NaN,NaN,2022-11-25T07:54:38.562Z,NaN,OCCURRENCE_STATUS_INFERRED_FROM_INDIVIDUAL_COU...
4,2885135307,90d8babc-685f-449e-a4ec-7275ca7655c7,0c105d9b-1325-4f81-9b29-158ac8eeb6f9,Animalia,Arthropoda,Insecta,Hymenoptera,Apidae,Bombus,Bombus johanseni,NaN,SPECIES,"Bombus johanseni (Sladen, 1919) Sladen, 1919",Bombus johanseni Sladen,Sladen,CA,"Sach's Harbour, Banks Island",Northwest Territories,PRESENT,1.00,39fd7088-af63-4ad5-8d30-479a720a368b,71.99,-125.24,NaN,NaN,NaN,NaN,NaN,NaN,2018-07-04T00:00:00,4.00,7.00,2018,10827632,10827632.00,PRESERVED_SPECIMEN,RSKM,ENT,RSKM_ENT_E-199662,NaN,Cory S. Sheffield,2020-01-01T00:00:00,CC_BY_4_0,NaN,Collector(s): J.M. Heron,NaN,NaN,2022-11-25T07:54:38.582Z,NaN,OCCURRENCE_STATUS_INFERRED_FROM_INDIVIDUAL_COU...

Data cleaning:
- remove non usefull columns
- assign right types, identify categories, dates
- rename features: 2 buckets, environment variables (localisation, time, ...) and specimen related
- Should I drop the rows where the occurenceId is null?

Possible metrics to display:
- how long betzwen dateIdentified and lastInterpreted, to get queue processing time -> get we get more performance metrics

Possible prediction
- predict a future occurence based on previous ones, and when: the occurence could be a disease, or the abscence presence of food, etc ....
-> impact of food on population
-> impact of bacteria/virus on some populations
- found correlation or non correlation between qpecies

In [57]:
tokens = df['issue'].str.split(';', expand=True).stack()
counts = tokens.value_counts()
print(counts)

INSTITUTION_MATCH_FUZZY                              276698
GEODETIC_DATUM_ASSUMED_WGS84                         224727
OCCURRENCE_STATUS_INFERRED_FROM_INDIVIDUAL_COUNT     200302
COLLECTION_MATCH_FUZZY                               159655
AMBIGUOUS_COLLECTION                                 120122
COORDINATE_ROUNDED                                    54520
INSTITUTION_COLLECTION_MISMATCH                       50669
TAXON_MATCH_HIGHERRANK                                22490
GEODETIC_DATUM_INVALID                                20759
INSTITUTION_MATCH_NONE                                20486
COORDINATE_REPROJECTED                                19328
COLLECTION_MATCH_NONE                                 17561
COORDINATE_PRECISION_INVALID                          17124
DIFFERENT_OWNER_INSTITUTION                           13675
AMBIGUOUS_INSTITUTION                                 10326
PRESUMED_NEGATED_LONGITUDE                             7154
RECORDED_DATE_INVALID                                  5671
REFERENCES_URI_INVALID                                 3502
TAXON_MATCH_FUZZY                                      3103
COORDINATE_INVALID                                     2805
RECORDED_DATE_UNLIKELY                                 1237
TYPE_STATUS_INVALID                                    1106
COUNTRY_COORDINATE_MISMATCH                             993
TAXON_MATCH_NONE                                        861
COUNTRY_DERIVED_FROM_COORDINATES                        721
MODIFIED_DATE_UNLIKELY                                  708
FOOTPRINT_WKT_INVALID                                   541
ELEVATION_NON_NUMERIC                                   489
COUNTRY_MISMATCH                                        411
COUNTRY_INVALID                                         404
MULTIMEDIA_DATE_INVALID                                 318
COORDINATE_OUT_OF_RANGE                                 174
OCCURRENCE_STATUS_INFERRED_FROM_BASIS_OF_RECORD         169
IDENTIFIED_DATE_UNLIKELY                                146
COORDINATE_UNCERTAINTY_METERS_INVALID                   137
INDIVIDUAL_COUNT_INVALID                                100
ELEVATION_MIN_MAX_SWAPPED                                95
DEPTH_NON_NUMERIC                                        50
DEPTH_MIN_MAX_SWAPPED                                    39
PRESUMED_NEGATED_LATITUDE                                 9
INDIVIDUAL_COUNT_CONFLICTS_WITH_OCCURRENCE_STATUS         4
DEPTH_UNLIKELY                                            4
ZERO_COORDINATE                                           3
BASIS_OF_RECORD_INVALID                                   3
MULTIMEDIA_URI_INVALID                                    2
dtype: int64

In [58]:
for col in ['gbifID', 'datasetKey', 'occurrenceID']:
    uniq = df[col].nunique()
    nonnull = df[col].count()
    print(f"Column {col}: {uniq} unique values, {nonnull} non-null values")

Column gbifID: 616318 unique values, 616318 non-null values
Column datasetKey: 268 unique values, 616318 non-null values
Column occurrenceID: 611549 unique values, 616301 non-null values

In [59]:
df = df.drop(columns=[
    "verbatimScientificNameAuthorship",
    "verbatimScientificName",
    "recordNumber",
    "catalogNumber",
    "taxonKey",
    "speciesKey",
    "year",
    "month",
    "day",
    "datasetKey",
    "occurrenceID"
])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 616318 entries, 0 to 616317
Data columns (total 39 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   gbifID                         616318 non-null  int64
 1   kingdom                        616318 non-null  object
 2   phylum                         613735 non-null  object
 3   class                          563890 non-null  object
 4   order                          540768 non-null  object
 5   family                         591741 non-null  object
 6   genus                          530786 non-null  object
 7   species                        455886 non-null  object
 8   infraspecificEpithet           21782 non-null   object
 9   taxonRank                      616318 non-null  object
 10  scientificName                 616318 non-null  object
 11  countryCode                    613282 non-null  object
 12  locality                       499963 non-null  object
 13  stateProvince                  594805 non-null  object
 14  occurrenceStatus               616318 non-null  object
 15  individualCount                253318 non-null  float64
 16  publishingOrgKey               616318 non-null  object
 17  decimalLatitude                536572 non-null  float64
 18  decimalLongitude               536572 non-null  float64
 19  coordinateUncertaintyInMeters  169598 non-null  float64
 20  coordinatePrecision            120 non-null     float64
 21  elevation                      131838 non-null  float64
 22  elevationAccuracy              77630 non-null   float64
 23  depth                          11972 non-null   float64
 24  depthAccuracy                  5689 non-null    float64
 25  eventDate                      616318 non-null  object
 26  basisOfRecord                  616318 non-null  object
 27  institutionCode                515538 non-null  object
 28  collectionCode                 500744 non-null  object
 29  identifiedBy                   329860 non-null  object
 30  dateIdentified                 205128 non-null  object
 31  license                        616318 non-null  object
 32  rightsHolder                   235486 non-null  object
 33  recordedBy                     498483 non-null  object
 34  typeStatus                     1353 non-null    object
 35  establishmentMeans             34958 non-null   object
 36  lastInterpreted                616318 non-null  object
 37  mediaType                      73511 non-null   object
 38  issue                          518132 non-null  object
dtypes: float64(9), int64(1), object(29)
memory usage: 183.4+ MB

In [60]:
# some of the properties have low cardinality... If I can not extrapolate or makes sense of the values, better to drop them.
# Create a list of tuples containing the column name and its null value ratio
ratios = [(col, round(df[col].isnull().sum() / df[col].shape[0], 2)) for col in df.columns]
# Sort the list by the null value ratio
from operator import itemgetter
ratios = sorted(ratios, key=itemgetter(1), reverse=True)
# Print the sorted list
print("\n".join(f"{col} {ratio}" for col, ratio in ratios))

coordinatePrecision 1.0
typeStatus 1.0
depthAccuracy 0.99
depth 0.98
infraspecificEpithet 0.96
establishmentMeans 0.94
mediaType 0.88
elevationAccuracy 0.87
elevation 0.79
coordinateUncertaintyInMeters 0.72
dateIdentified 0.67
rightsHolder 0.62
individualCount 0.59
identifiedBy 0.46
species 0.26
locality 0.19
collectionCode 0.19
recordedBy 0.19
institutionCode 0.16
issue 0.16
genus 0.14
decimalLatitude 0.13
decimalLongitude 0.13
order 0.12
class 0.09
family 0.04
stateProvince 0.03
gbifID 0.0
kingdom 0.0
phylum 0.0
taxonRank 0.0
scientificName 0.0
countryCode 0.0
occurrenceStatus 0.0
publishingOrgKey 0.0
eventDate 0.0
basisOfRecord 0.0
license 0.0
lastInterpreted 0.0

In [61]:
df = df.drop(columns=["coordinatePrecision",
                     "typeStatus",
                     "depthAccuracy",
                     "establishmentMeans",
                     "mediaType",
                     "elevationAccuracy",
                     "coordinateUncertaintyInMeters",
                     "rightsHolder",
                     "identifiedBy",
                     "license",
                     "recordedBy",
                     "collectionCode",
                     "institutionCode"])

In [62]:
dateColumnNames = {"lastInterpreted":"lastInterpretationDate","dateIdentified":"identificationDate","eventDate":"eventObservationDate"}
df = df.rename(columns=dateColumnNames)

env_columns = ["countryCode","locality","stateProvince","decimalLatitude","decimalLongitude","elevation","depth","eventObservationDate"]
meta_columns = ["occurrenceStatus","individualCount","basisOfRecord","typeStatus","establishmentMeans","lastInterpretationDate","publishingOrgKey","identificationDate"]
species_colums=["kingdom","phylum","class","order","family","genus","species","infraspecificEpithet","taxonRank","scientificName","issue"]

df = df.rename(columns={col:"env_"+col for col in env_columns})
df = df.rename(columns={col:"meta_"+col for col in meta_columns})
df = df.rename(columns={col:"species_"+col for col in species_colums})

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 616318 entries, 0 to 616317
Data columns (total 26 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   gbifID                        616318 non-null  int64
 1   species_kingdom               616318 non-null  object
 2   species_phylum                613735 non-null  object
 3   species_class                 563890 non-null  object
 4   species_order                 540768 non-null  object
 5   species_family                591741 non-null  object
 6   species_genus                 530786 non-null  object
 7   species_species               455886 non-null  object
 8   species_infraspecificEpithet  21782 non-null   object
 9   species_taxonRank             616318 non-null  object
 10  species_scientificName        616318 non-null  object
 11  env_countryCode               613282 non-null  object
 12  env_locality                  499963 non-null  object
 13  env_stateProvince             594805 non-null  object
 14  meta_occurrenceStatus         616318 non-null  object
 15  meta_individualCount          253318 non-null  float64
 16  meta_publishingOrgKey         616318 non-null  object
 17  env_decimalLatitude           536572 non-null  float64
 18  env_decimalLongitude          536572 non-null  float64
 19  env_elevation                 131838 non-null  float64
 20  env_depth                     11972 non-null   float64
 21  env_eventObservationDate      616318 non-null  object
 22  meta_basisOfRecord            616318 non-null  object
 23  meta_identificationDate       205128 non-null  object
 24  meta_lastInterpretationDate   616318 non-null  object
 25  species_issue                 518132 non-null  object
dtypes: float64(5), int64(1), object(20)
memory usage: 122.3+ MB

In [63]:
dateColumnNames = ["meta_lastInterpretationDate","meta_identificationDate","env_eventObservationDate"]

for col in dateColumnNames:
    df[col] = pd.to_datetime(df[col], infer_datetime_format=True, utc=True, errors="coerce")

In [64]:
object_columns = df.select_dtypes(include=['object']).columns.tolist()

for col in object_columns:
    ratio = df[col].nunique() / df[col].count()
    print(f"Ratio of unique values to rows for column '{col}': {ratio:.2f}")

Ratio of unique values to rows for column 'species_kingdom': 0.00
Ratio of unique values to rows for column 'species_phylum': 0.00
Ratio of unique values to rows for column 'species_class': 0.00
Ratio of unique values to rows for column 'species_order': 0.00
Ratio of unique values to rows for column 'species_family': 0.01
Ratio of unique values to rows for column 'species_genus': 0.03
Ratio of unique values to rows for column 'species_species': 0.09
Ratio of unique values to rows for column 'species_infraspecificEpithet': 0.13
Ratio of unique values to rows for column 'species_taxonRank': 0.00
Ratio of unique values to rows for column 'species_scientificName': 0.09
Ratio of unique values to rows for column 'env_countryCode': 0.00
Ratio of unique values to rows for column 'env_locality': 0.13
Ratio of unique values to rows for column 'env_stateProvince': 0.00
Ratio of unique values to rows for column 'meta_occurrenceStatus': 0.00
Ratio of unique values to rows for column 'meta_publishingOrgKey': 0.00
Ratio of unique values to rows for column 'meta_basisOfRecord': 0.00
Ratio of unique values to rows for column 'species_issue': 0.00

In [65]:
df[object_columns] = df[object_columns].astype('category')

In [66]:
floats = df.select_dtypes(include=['float64']).columns.tolist()
df[floats] = df[floats].apply(pd.to_numeric, downcast='float')

df[floats].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 616318 entries, 0 to 616317
Data columns (total 5 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   meta_individualCount  253318 non-null  float32
 1   env_decimalLatitude   536572 non-null  float32
 2   env_decimalLongitude  536572 non-null  float32
 3   env_elevation         131838 non-null  float32
 4   env_depth             11972 non-null   float32
dtypes: float32(5)
memory usage: 11.8 MB

In [67]:
print(df[['env_depth', 'env_elevation']].describe().loc[['min', 'max']])

     env_depth  env_elevation
min       0.00        -339.00
max    5832.04       16917.50

In [68]:
df = df.rename(columns={"env_depth": "env_depthInMeters", "env_elevation": "env_elevationInMeters"})
df[['env_depthInMeters', 'env_elevationInMeters']] = (df[['env_depthInMeters', 'env_elevationInMeters']] * 0.3048).fillna(0).round(1).astype("float32")

In [69]:
print(df[['meta_individualCount']].describe().loc[['min', 'max']])

     meta_individualCount
min                  0.00
max              49000.00

In [70]:
df['meta_individualCount'].fillna(0, inplace=True)
df['meta_individualCount'] = pd.to_numeric(df['meta_individualCount'], downcast='integer', errors='coerce')

In [71]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 616318 entries, 0 to 616317
Data columns (total 26 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   gbifID                        616318 non-null  int64
 1   species_kingdom               616318 non-null  category
 2   species_phylum                613735 non-null  category
 3   species_class                 563890 non-null  category
 4   species_order                 540768 non-null  category
 5   species_family                591741 non-null  category
 6   species_genus                 530786 non-null  category
 7   species_species               455886 non-null  category
 8   species_infraspecificEpithet  21782 non-null   category
 9   species_taxonRank             616318 non-null  category
 10  species_scientificName        616318 non-null  category
 11  env_countryCode               613282 non-null  category
 12  env_locality                  499963 non-null  category
 13  env_stateProvince             594805 non-null  category
 14  meta_occurrenceStatus         616318 non-null  category
 15  meta_individualCount          616318 non-null  int32
 16  meta_publishingOrgKey         616318 non-null  category
 17  env_decimalLatitude           536572 non-null  float32
 18  env_decimalLongitude          536572 non-null  float32
 19  env_elevationInMeters         616318 non-null  float32
 20  env_depthInMeters             616318 non-null  float32
 21  env_eventObservationDate      616318 non-null  datetime64[ns, UTC]
 22  meta_basisOfRecord            616318 non-null  category
 23  meta_identificationDate       205123 non-null  datetime64[ns, UTC]
 24  meta_lastInterpretationDate   616318 non-null  datetime64[ns, UTC]
 25  species_issue                 518132 non-null  category
dtypes: category(17), datetime64[ns, UTC](3), float32(4), int32(1), int64(1)
memory usage: 57.1 MB

DONE

In [ ]:
df["collectionCode"].unique()
df["institutionCode"].value_counts()

# let's compute some metrics about the data freshness to subselect the data that make the more sense for us. Not sure we really care about this info if all we want to do is predict occurence of events or diagnose causes.
# avg time between observation and interpretation, per kingdom
# avg time between observation and interpretation, per country
# avg time between observation and interpretation, per org
# first we need to decompose the interpretation time, in day/month/year

In [ ]:
# Dropping some data that looks duplicated or that does not useful at the moment
nonUsefulColumns = ["verbatimScientificNameAuthorship","scientificName","gbifID","mediaType","issue","license","rightsHolder","recordNumber","catalogNumber","taxonKey","speciesKey"]
df=df.drop(columns=nonUsefulColumns, errors='ignore')

# Planning to rename some columns to make them more begginer understandable...
speciesFeatures=["kingdom","phylum","class","order","family","genus","species","infraspecificEpithet","taxonRank","scientificName","verbatimScientificName","verbatimScientificNameAuthorship"]
# Create a dictionary mapping the old column names to the new column names
rename_dict = {col: "species_" + col for col in speciesFeatures}
# Rename the columns using the rename() method
df = df.rename(columns=rename_dict)

In [ ]:
df.info()

In [ ]:
#let's focus on one part of the dataset
print(df["species_kingdom"].value_counts())
print(df["countryCode"].value_counts())

In [ ]:
#I will focus only on the US but still keep all the specicies, since it could be interesting to correlate species presence for now.
#df=df[(df["countryCode"]=="US") & (df["kingdom"]=="Animalia")]
df=df[(df["countryCode"]=="US")]
df.info()

In [ ]:
df.head()

In [ ]:
#After this first cleaning the dataset went from 183.4+ MB to 148.9+ MB

# I see 3 types of data: eventDate, dateIdentified and lastInterpreted. 
# I will rename them to make them more explicit, and assign the right type and check if it impacts the memory usage. Ultimately I can drop the dateIdentified since almost 2 third is not set...
dateColumnNames = {"lastInterpreted":"lastInterpretationDate","dateIdentified":"identificationDate","eventDate":"eventObservationDate"}
df = df.rename(columns=dateColumnNames)


# let's assign the right dtype. However, one column contains dates in UTC timezone, the 2 others we don't know timezone... So I will consider that it's UTC too and force it, because else it's just wild guess assumptions... 
# I do not worry about any date format at this point.

# df[dateColumnNames.values()] = pd.to_datetime(df[dateColumnNames.values()], infer_datetime_format=True, errors="coerce")
#df["lastInterpretationDate"] = pd.to_datetime(df["lastInterpretationDate"], infer_datetime_format=True, errors="coerce")
#df["identificationDate"] = pd.to_datetime(df["identificationDate"], infer_datetime_format=True, errors="coerce")
for col in dateColumnNames.values():
    # Convert column to datetime data type
    df[col] = pd.to_datetime(df[col], infer_datetime_format=True, utc=True, errors="coerce")

In [ ]:
print(f"Memory usage: {df.memory_usage(deep=True).sum()} bytes")
missing_count = df[dateColumnNames.values()].isnull().sum()
print(missing_count)

In [ ]:
#Finally, I see that identificationDate has a lot of missing values which makes it useless for me. So I will just drop it.
df = df.drop(columns="identificationDate")

In [ ]:
df.info()

In [ ]:
# Now that I have datetime objects, I don't need independent day/month/year properties. Even more if some of them have null values
df = df.drop(columns=["day","month","year"])
df.info()

In [ ]:
# I will continue assigning correct dtype. The current memory usage is 134.0+ MB
# I will start that the columns that probably should be a category. Certainly all the column that helps classify the species should be a good target
column_list = df.filter(regex="species_").columns
for col in column_list:
    ratio = df[col].nunique() / df.shape[0]
    print(f"Ratio of unique values to rows for column '{col}': {ratio:.2f}")

In [ ]:
# Looks like good target indeed!
# "genus", "family" and "species" and "verbatimspecific name" might not be good candidate since the cardinality is still high. I will revisit the choice later.
category_list = list(filter(lambda x: x not in ["species_species","species_family","species_genus","species_verbatimScientificName"], column_list))
df[category_list] = df[category_list].astype('category')
df.info()

In [ ]:
# I will do the same thing for the other columns.
# First I will rename to group some of them ...
env_columns = ["countryCode","locality","stateProvince","decimalLatitude","decimalLongitude","coordinateUncertaintyInMeters","coordinatePrecision","elevation","elevationAccuracy","depth","depthAccuracy","eventObservationDate"]
meta_column = ["occurrenceStatus","individualCount","publishingOrgKey","basisOfRecord","institutionCode","collectionCode","identifiedBy","recordedBy","typeStatus","establishmentMeans","lastInterpretationDate"]

df = df.rename(columns={col:"env_"+col for col in env_columns})
df = df.rename(columns={col:"meta_"+col for col in meta_column})

df.info()

In [ ]:
# some of the properties have low cardinality... If I can not extrapolate or makes sense of the values, better to drop them.
# I will compute the ration # values / # null values for each columns
for col in df.columns:
    # Calculate the ratio of null values
    ratio = df[col].isnull().sum() / df[col].shape[0]
    # Print the ratio
    print(f"ratio null value for column {col}: {ratio}")

In [ ]:
# I will drop all the precision/accuracy columns: lot of null values and no idea how I could extrapolate them meaningfully. For CoordinateUncertainty, I could assign also 0 to null values, but I won't use it, so I drop it too.
df = df.drop(columns=["env_coordinateUncertaintyInMeters","env_coordinatePrecision","env_elevationAccuracy","env_depthAccuracy"])
# "meta_identifiedBy" and "meta_establishmentMeans" also have a high level of null values and I have no usage of "meta_recordedBy"
df = df.drop(columns=["meta_identifiedBy","meta_establishmentMeans","meta_recordedBy"])

In [ ]:
# depth and elevation are also high, but I will keep them and assume that null means 0 level
# At the same time I will assign the right numeric dtype and round/trunc when needed: float is ok, 1 decimal precision.
# By looking and the range, I also deduce that they are in feet. I will convert them to meters and will rename them appropraitely
print(df[['env_depth', 'env_elevation']].describe().loc[['min', 'max']])
df = df.rename(columns={"env_depth": "env_depthInMeters", "env_elevation": "env_elevationInMeters"})
df[['env_depthInMeters', 'env_elevationInMeters']] = (df[['env_depthInMeters', 'env_elevationInMeters']] * 0.3048).fillna(0).astype("float32").round(1)
df.info()

In [ ]:
print(df[['env_depthInMeters', 'env_elevationInMeters']].describe().loc[['min', 'max']])

In [ ]:
df[["env_stateProvince", "env_countryCode"]] = df[["env_stateProvince", "env_countryCode"]].astype("category")

In [ ]:
df.info()

In [ ]:
# The previous conversions should have helped save memory usage but it does not look like that right now -> need to check differently.
memory_usage = df['coordinatePrecision'].memory_usage(deep=False)
print(memory_usage)
year = df['year'].memory_usage(deep=True)
print(year)

rows = df[df['identificationDate'].notnull() & (df['lastInterpretationDate'].ne(df['identificationDate']))]
num_rows = rows.shape[0]

print(f"Number of rows: {num_rows}")

In [ ]:
df['basisOfRecord'].value_counts()

In [ ]:
df.nunique().index[df.nunique() <=2 ]
df["establishmentMeans"].unique()
df['establishmentMeans'].value_counts()
unique_value_counts = df.nunique()

# Sort the DataFrame by the unique value counts and get the sorted column names
sorted_columns = unique_value_counts.sort_values(ascending=False).index

# Print the sorted list of column names
print(sorted_columns)

In [ ]:
# Generate an interactive HTML report
profile = ProfileReport(df, title="Pandas Profiling Report")

# Display the report
profile.to_notebook_iframe()

In [ ]:
# Determine which species and geographic regions to focus on
# You might want to use df.groupby() and df.describe() to explore the data and identify trends or patterns

# Filter the data
# Use df.loc[] to select only the rows and columns of interest
# For example, to select only rows for a specific species, use df.loc[df['species'] == 'species_name']

# Clean the data
# Use df.dropna() or df.fillna() to remove or impute missing values
# Use df.apply() or df.map() to apply custom transformations to the data

# Save the cleaned and filtered data to a new file
# Use df.to_csv() to save the data to a CSV file
# Replace 'path/to/cleaned_data.csv' with the filepath where you want to save the cleaned data
df.to_csv('path/to/cleaned_data.csv', index=False)