<a href="https://colab.research.google.com/github/marqub/gbif-species-distribution-analysis/blob/main/notebooks/phase-1-data-exploration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
%%capture
!pip install numpy pandas streamlit gdown pyarrow
!pip install git

In [3]:
# Import necessary libraries
import pandas as pd
import numpy as np
import git
import os
import zipfile

# Load GBIF dataset
# Show all columns (instead of cascading columns in the middle)
pd.set_option("display.max_columns", None)
# Don't show numbers in scientific notation
pd.set_option("display.float_format", "{:.2f}".format)

repo = git.Repo.clone_from("https://github.com/marqub/gbif-species-distribution-analysis.git", "gbif-species-distribution-analysis")
os.chdir("gbif-species-distribution-analysis/data")
with zipfile.ZipFile("gbif_data_2016to2022_northamerica.csv.zip", "r") as zip_ref:
    zip_ref.extractall(".")

In [25]:
df = pd.read_csv("0233944-220831081235567.csv", sep='\t', on_bad_lines='skip')

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (10,14,16,36,37,38,39,40,41,43,44,45,46,48,49) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [5]:
# Explore the data
# Use df.head() to view the first few rows of the dataset
df.head()

,gbifID,datasetKey,occurrenceID,kingdom,phylum,class,order,family,genus,species,infraspecificEpithet,taxonRank,scientificName,verbatimScientificName,verbatimScientificNameAuthorship,countryCode,locality,stateProvince,occurrenceStatus,individualCount,publishingOrgKey,decimalLatitude,decimalLongitude,coordinateUncertaintyInMeters,coordinatePrecision,elevation,elevationAccuracy,depth,depthAccuracy,eventDate,day,month,year,taxonKey,speciesKey,basisOfRecord,institutionCode,collectionCode,catalogNumber,recordNumber,identifiedBy,dateIdentified,license,rightsHolder,recordedBy,typeStatus,establishmentMeans,lastInterpreted,mediaType,issue
0,2885135301,90d8babc-685f-449e-a4ec-7275ca7655c7,871d7336-1a5b-4926-8d12-c2102f55975b,Animalia,Arthropoda,Insecta,Hymenoptera,Apidae,Bombus,Bombus johanseni,NaN,SPECIES,"Bombus johanseni (Sladen, 1919) Sladen, 1919",Bombus johanseni Sladen,Sladen,CA,"Kitikmeot, Cambridge Bay",Nunavut,PRESENT,1.00,39fd7088-af63-4ad5-8d30-479a720a368b,69.13,-105.06,NaN,NaN,NaN,NaN,NaN,NaN,2018-08-09T00:00:00,9.00,8.00,2018,10827632,10827632.00,PRESERVED_SPECIMEN,CBG,NaN,DCHAR2640-19,NaN,Cory S. Sheffield,2020-01-01T00:00:00,CC0_1_0,NaN,Collector(s): CBG Team 3,NaN,NaN,2022-11-25T07:54:38.249Z,NaN,OCCURRENCE_STATUS_INFERRED_FROM_INDIVIDUAL_COU...
1,2885135303,90d8babc-685f-449e-a4ec-7275ca7655c7,60874093-5130-4d84-baa4-eafd4de80718,Animalia,Arthropoda,Insecta,Hymenoptera,Apidae,Bombus,Bombus johanseni,NaN,SPECIES,"Bombus johanseni (Sladen, 1919) Sladen, 1919",Bombus johanseni Sladen,Sladen,CA,"Sach's Harbour, Banks Island",Northwest Territories,PRESENT,1.00,39fd7088-af63-4ad5-8d30-479a720a368b,71.99,-125.25,NaN,NaN,NaN,NaN,NaN,NaN,2018-07-09T00:00:00,9.00,7.00,2018,10827632,10827632.00,PRESERVED_SPECIMEN,RSKM,ENT,RSKM_ENT_E-199719,NaN,Cory S. Sheffield,2020-01-01T00:00:00,CC_BY_4_0,NaN,Collector(s): J.M. Heron,NaN,NaN,2022-11-25T07:54:38.509Z,NaN,OCCURRENCE_STATUS_INFERRED_FROM_INDIVIDUAL_COU...
2,2885135305,90d8babc-685f-449e-a4ec-7275ca7655c7,6b69e42c-2710-46bb-8581-8a6c6f5701dc,Animalia,Arthropoda,Insecta,Hymenoptera,Apidae,Bombus,Bombus johanseni,NaN,SPECIES,"Bombus johanseni (Sladen, 1919) Sladen, 1919",Bombus johanseni Sladen,Sladen,CA,"Sach's Harbour, Banks Island",Northwest Territories,PRESENT,1.00,39fd7088-af63-4ad5-8d30-479a720a368b,71.99,-125.29,NaN,NaN,NaN,NaN,NaN,NaN,2018-07-07T00:00:00,7.00,7.00,2018,10827632,10827632.00,PRESERVED_SPECIMEN,RSKM,ENT,RSKM_ENT_E-199704,NaN,Cory S. Sheffield,2020-01-01T00:00:00,CC_BY_4_0,NaN,Collector(s): J.M. Heron,NaN,NaN,2022-11-25T07:54:38.551Z,NaN,OCCURRENCE_STATUS_INFERRED_FROM_INDIVIDUAL_COU...
3,2885135306,90d8babc-685f-449e-a4ec-7275ca7655c7,426e6fd4-8074-41a4-82ef-8c796837d99e,Animalia,Arthropoda,Insecta,Hymenoptera,Apidae,Bombus,Bombus johanseni,NaN,SPECIES,"Bombus johanseni (Sladen, 1919) Sladen, 1919",Bombus johanseni Sladen,Sladen,CA,"Sach's Harbour, Banks Island",Northwest Territories,PRESENT,1.00,39fd7088-af63-4ad5-8d30-479a720a368b,71.99,-125.24,NaN,NaN,NaN,NaN,NaN,NaN,2018-07-04T00:00:00,4.00,7.00,2018,10827632,10827632.00,PRESERVED_SPECIMEN,RSKM,ENT,RSKM_ENT_E-199663,NaN,Cory S. Sheffield,2020-01-01T00:00:00,CC_BY_4_0,NaN,Collector(s): J.M. Heron,NaN,NaN,2022-11-25T07:54:38.562Z,NaN,OCCURRENCE_STATUS_INFERRED_FROM_INDIVIDUAL_COU...
4,2885135307,90d8babc-685f-449e-a4ec-7275ca7655c7,0c105d9b-1325-4f81-9b29-158ac8eeb6f9,Animalia,Arthropoda,Insecta,Hymenoptera,Apidae,Bombus,Bombus johanseni,NaN,SPECIES,"Bombus johanseni (Sladen, 1919) Sladen, 1919",Bombus johanseni Sladen,Sladen,CA,"Sach's Harbour, Banks Island",Northwest Territories,PRESENT,1.00,39fd7088-af63-4ad5-8d30-479a720a368b,71.99,-125.24,NaN,NaN,NaN,NaN,NaN,NaN,2018-07-04T00:00:00,4.00,7.00,2018,10827632,10827632.00,PRESERVED_SPECIMEN,RSKM,ENT,RSKM_ENT_E-199662,NaN,Cory S. Sheffield,2020-01-01T00:00:00,CC_BY_4_0,NaN,Collector(s): J.M. Heron,NaN,NaN,2022-11-25T07:54:38.582Z,NaN,OCCURRENCE_STATUS_INFERRED_FROM_INDIVIDUAL_COU...

In [6]:
# Use df.info() to get a summary of the data types and missing values in the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 616318 entries, 0 to 616317
Data columns (total 50 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   gbifID                            616318 non-null  int64
 1   datasetKey                        616318 non-null  object
 2   occurrenceID                      616301 non-null  object
 3   kingdom                           616318 non-null  object
 4   phylum                            613735 non-null  object
 5   class                             563890 non-null  object
 6   order                             540768 non-null  object
 7   family                            591741 non-null  object
 8   genus                             530786 non-null  object
 9   species                           455886 non-null  object
 10  infraspecificEpithet              21782 non-null   object
 11  taxonRank                         616318 non-null  object
 12  scientificName                    616318 non-null  object
 13  verbatimScientificName            604027 non-null  object
 14  verbatimScientificNameAuthorship  243727 non-null  object
 15  countryCode                       613282 non-null  object
 16  locality                          499963 non-null  object
 17  stateProvince                     594805 non-null  object
 18  occurrenceStatus                  616318 non-null  object
 19  individualCount                   253318 non-null  float64
 20  publishingOrgKey                  616318 non-null  object
 21  decimalLatitude                   536572 non-null  float64
 22  decimalLongitude                  536572 non-null  float64
 23  coordinateUncertaintyInMeters     169598 non-null  float64
 24  coordinatePrecision               120 non-null     float64
 25  elevation                         131838 non-null  float64
 26  elevationAccuracy                 77630 non-null   float64
 27  depth                             11972 non-null   float64
 28  depthAccuracy                     5689 non-null    float64
 29  eventDate                         616318 non-null  object
 30  day                               602572 non-null  float64
 31  month                             605523 non-null  float64
 32  year                              616318 non-null  int64
 33  taxonKey                          616318 non-null  int64
 34  speciesKey                        455885 non-null  float64
 35  basisOfRecord                     616318 non-null  object
 36  institutionCode                   515538 non-null  object
 37  collectionCode                    500744 non-null  object
 38  catalogNumber                     493044 non-null  object
 39  recordNumber                      153893 non-null  object
 40  identifiedBy                      329860 non-null  object
 41  dateIdentified                    205128 non-null  object
 42  license                           616318 non-null  object
 43  rightsHolder                      235486 non-null  object
 44  recordedBy                        498483 non-null  object
 45  typeStatus                        1353 non-null    object
 46  establishmentMeans                34958 non-null   object
 47  lastInterpreted                   616318 non-null  object
 48  mediaType                         73511 non-null   object
 49  issue                             518132 non-null  object
dtypes: float64(12), int64(3), object(35)
memory usage: 235.1+ MB

Data cleaning:
- remove non usefull columns
- assign right types, identify categories, dates
- rename features: 2 buckets, environment variables (localisation, time, ...) and specimen related

Possible metrics to display:
- how long betzwen dateIdentified and lastInterpreted, to get queue processing time -> get we get more performance metrics

In [42]:
nonUsefulColumns = ["verbatimScientificNameAuthorship","scientificName","gbifID","mediaType","issue","license","rightsHolder","recordNumber","catalogNumber","collectionCode","institutionCode","taxonKey","speciesKey"]

df=df.drop(columns=nonUsefulColumns, errors='ignore')

specimenFeatures=["kingdom","phylum","class","order","family","genus","species","infraspecificEpithet","taxonRank","scientificName","verbatimScientificName","verbatimScientificNameAuthorship"]

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 616318 entries, 0 to 616317
Data columns (total 37 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   datasetKey                     616318 non-null  object
 1   occurrenceID                   616301 non-null  object
 2   kingdom                        616318 non-null  object
 3   phylum                         613735 non-null  object
 4   class                          563890 non-null  object
 5   order                          540768 non-null  object
 6   family                         591741 non-null  object
 7   genus                          530786 non-null  object
 8   species                        455886 non-null  object
 9   infraspecificEpithet           21782 non-null   object
 10  taxonRank                      616318 non-null  object
 11  verbatimScientificName         604027 non-null  object
 12  countryCode                    613282 non-null  object
 13  locality                       499963 non-null  object
 14  stateProvince                  594805 non-null  object
 15  occurrenceStatus               616318 non-null  object
 16  individualCount                253318 non-null  float64
 17  publishingOrgKey               616318 non-null  object
 18  decimalLatitude                536572 non-null  float64
 19  decimalLongitude               536572 non-null  float64
 20  coordinateUncertaintyInMeters  169598 non-null  float64
 21  coordinatePrecision            120 non-null     float64
 22  elevation                      131838 non-null  float64
 23  elevationAccuracy              77630 non-null   float64
 24  depth                          11972 non-null   float64
 25  depthAccuracy                  5689 non-null    float64
 26  eventDate                      616318 non-null  object
 27  day                            602572 non-null  float64
 28  month                          605523 non-null  float64
 29  year                           616318 non-null  int64
 30  basisOfRecord                  616318 non-null  object
 31  identifiedBy                   329860 non-null  object
 32  dateIdentified                 205128 non-null  object
 33  recordedBy                     498483 non-null  object
 34  typeStatus                     1353 non-null    object
 35  establishmentMeans             34958 non-null   object
 36  lastInterpreted                616318 non-null  object
dtypes: float64(11), int64(1), object(25)
memory usage: 174.0+ MB

In [54]:
df.nunique().index[df.nunique() <=2 ]
df["establishmentMeans"].unique()
df['establishmentMeans'].value_counts()
unique_value_counts = df.nunique()

# Sort the DataFrame by the unique value counts and get the sorted column names
sorted_columns = unique_value_counts.sort_values(ascending=False).index

# Print the sorted list of column names
print(sorted_columns)

Index(['occurrenceID', 'lastInterpreted', 'verbatimScientificName',
       'decimalLatitude', 'decimalLongitude', 'locality', 'species',
       'recordedBy', 'genus', 'elevation', 'identifiedBy', 'family',
       'infraspecificEpithet', 'eventDate', 'dateIdentified',
       'elevationAccuracy', 'depth', 'coordinateUncertaintyInMeters', 'order',
       'stateProvince', 'individualCount', 'datasetKey', 'class',
       'depthAccuracy', 'publishingOrgKey', 'phylum', 'countryCode', 'day',
       'month', 'taxonRank', 'typeStatus', 'kingdom', 'year', 'basisOfRecord',
       'coordinatePrecision', 'occurrenceStatus', 'establishmentMeans'],
      dtype='object')

In [ ]:
# Determine which species and geographic regions to focus on
# You might want to use df.groupby() and df.describe() to explore the data and identify trends or patterns

# Filter the data
# Use df.loc[] to select only the rows and columns of interest
# For example, to select only rows for a specific species, use df.loc[df['species'] == 'species_name']

# Clean the data
# Use df.dropna() or df.fillna() to remove or impute missing values
# Use df.apply() or df.map() to apply custom transformations to the data

# Save the cleaned and filtered data to a new file
# Use df.to_csv() to save the data to a CSV file
# Replace 'path/to/cleaned_data.csv' with the filepath where you want to save the cleaned data
df.to_csv('path/to/cleaned_data.csv', index=False)

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 483557 entries, ('2885135301\t90d8babc-685f-449e-a4ec-7275ca7655c7\t871d7336-1a5b-4926-8d12-c2102f55975b\tAnimalia\tArthropoda\tInsecta\tHymenoptera\tApidae\tBombus\tBombus johanseni\t\tSPECIES\tBombus johanseni (Sladen', ' 1919) Sladen', ' 1919\tBombus johanseni  Sladen\tSladen\tCA\tKitikmeot') to ('2844347830\t8a863029-f435-446a-821e-275f4f641165\thttps://observation.org/observation/171335228\tAnimalia\tChordata\tMammalia\tArtiodactyla\tBovidae\tSyncerus\tSyncerus caffer\t\tSPECIES\tSyncerus caffer (Sparrman', ' 1779)\tSyncerus caffer\t\tMW\tMalawi - Liwonde NP\t\tPRESENT\t1\tc8d737e0-2ff8-42e8-b8fc-6b805d26fc5f\t-14.870388\t35.306393\t25.0\t\t\t\t\t\t2019-04-28T00:00:00\t28\t4\t2019\t2441034\t2441034\tHUMAN_OBSERVATION\t\tObservations\tOBS.171335228\t\t\t\tCC_BY_NC_4_0\tStichting Observation International\tUser 14593\t\t\t2022-12-19T19:56:59.922Z\t\tOCCURRENCE_STATUS_INFERRED_FROM_INDIVIDUAL_COUNT;COORDINATE_ROUNDED', nan)
Data columns (total 1 columns):
 #   Column                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       Non-Null Count  Dtype
---  ------                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       --------------  -----
 0   gbifID	datasetKey	occurrenceID	kingdom	phylum	class	order	family	genus	species	infraspecificEpithet	taxonRank	scientificName	verbatimScientificName	verbatimScientificNameAuthorship	countryCode	locality	stateProvince	occurrenceStatus	individualCount	publishingOrgKey	decimalLatitude	decimalLongitude	coordinateUncertaintyInMeters	coordinatePrecision	elevation	elevationAccuracy	depth	depthAccuracy	eventDate	day	month	year	taxonKey	speciesKey	basisOfRecord	institutionCode	collectionCode	catalogNumber	recordNumber	identifiedBy	dateIdentified	license	rightsHolder	recordedBy	typeStatus	establishmentMeans	lastInterpreted	mediaType	issue  94662 non-null  object
dtypes: object(1)
memory usage: 44.1+ MB

FileNotFoundError: ignored