<a href="https://colab.research.google.com/github/marqub/gbif-species-distribution-analysis/blob/main/notebooks/phase-1-data-exploration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [26]:
%%capture
!pip install https://github.com/pandas-profiling/pandas-profiling/archive/master.zip 
!pip install numpy pandas streamlit gdown pyarrow
!pip install git
!pip install --upgrade pandas-profiling
!pip show pandas-profiling
!pip install pytz

In [27]:
import markupsafe
print(markupsafe.__version__)
# Import necessary libraries
import pandas as pd
import numpy as np
import git
import os
import zipfile
from pandas_profiling import ProfileReport
import pytz as tz

2.0.1

In [28]:
# Show all columns (instead of cascading columns in the middle)
pd.set_option("display.max_columns", None)
# Don't show numbers in scientific notation
pd.set_option("display.float_format", "{:.2f}".format)

In [29]:
# Load GBIF dataset
repo = git.Repo.clone_from("https://github.com/marqub/gbif-species-distribution-analysis.git", "gbif-species-distribution-analysis")

In [30]:
os.chdir("gbif-species-distribution-analysis/data")
with zipfile.ZipFile("gbif_data_2016to2022_northamerica.csv.zip", "r") as zip_ref:
    zip_ref.extractall(".")

In [31]:
df = pd.read_csv("0233944-220831081235567.csv", sep='\t', on_bad_lines='skip')

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (10,14,16,36,37,38,39,40,41,43,44,45,46,48,49) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [32]:
# Explore the data

# Use df.info() to get a summary of the data types and missing values in the dataset
print(df.info())
# Use df.head() to view the first few rows of the dataset
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 616318 entries, 0 to 616317
Data columns (total 50 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   gbifID                            616318 non-null  int64
 1   datasetKey                        616318 non-null  object
 2   occurrenceID                      616301 non-null  object
 3   kingdom                           616318 non-null  object
 4   phylum                            613735 non-null  object
 5   class                             563890 non-null  object
 6   order                             540768 non-null  object
 7   family                            591741 non-null  object
 8   genus                             530786 non-null  object
 9   species                           455886 non-null  object
 10  infraspecificEpithet              21782 non-null   object
 11  taxonRank                         616318 non-null  object
 12  scientificName                    616318 non-null  object
 13  verbatimScientificName            604027 non-null  object
 14  verbatimScientificNameAuthorship  243727 non-null  object
 15  countryCode                       613282 non-null  object
 16  locality                          499963 non-null  object
 17  stateProvince                     594805 non-null  object
 18  occurrenceStatus                  616318 non-null  object
 19  individualCount                   253318 non-null  float64
 20  publishingOrgKey                  616318 non-null  object
 21  decimalLatitude                   536572 non-null  float64
 22  decimalLongitude                  536572 non-null  float64
 23  coordinateUncertaintyInMeters     169598 non-null  float64
 24  coordinatePrecision               120 non-null     float64
 25  elevation                         131838 non-null  float64
 26  elevationAccuracy                 77630 non-null   float64
 27  depth                             11972 non-null   float64
 28  depthAccuracy                     5689 non-null    float64
 29  eventDate                         616318 non-null  object
 30  day                               602572 non-null  float64
 31  month                             605523 non-null  float64
 32  year                              616318 non-null  int64
 33  taxonKey                          616318 non-null  int64
 34  speciesKey                        455885 non-null  float64
 35  basisOfRecord                     616318 non-null  object
 36  institutionCode                   515538 non-null  object
 37  collectionCode                    500744 non-null  object
 38  catalogNumber                     493044 non-null  object
 39  recordNumber                      153893 non-null  object
 40  identifiedBy                      329860 non-null  object
 41  dateIdentified                    205128 non-null  object
 42  license                           616318 non-null  object
 43  rightsHolder                      235486 non-null  object
 44  recordedBy                        498483 non-null  object
 45  typeStatus                        1353 non-null    object
 46  establishmentMeans                34958 non-null   object
 47  lastInterpreted                   616318 non-null  object
 48  mediaType                         73511 non-null   object
 49  issue                             518132 non-null  object
dtypes: float64(12), int64(3), object(35)
memory usage: 235.1+ MB
None

,gbifID,datasetKey,occurrenceID,kingdom,phylum,class,order,family,genus,species,infraspecificEpithet,taxonRank,scientificName,verbatimScientificName,verbatimScientificNameAuthorship,countryCode,locality,stateProvince,occurrenceStatus,individualCount,publishingOrgKey,decimalLatitude,decimalLongitude,coordinateUncertaintyInMeters,coordinatePrecision,elevation,elevationAccuracy,depth,depthAccuracy,eventDate,day,month,year,taxonKey,speciesKey,basisOfRecord,institutionCode,collectionCode,catalogNumber,recordNumber,identifiedBy,dateIdentified,license,rightsHolder,recordedBy,typeStatus,establishmentMeans,lastInterpreted,mediaType,issue
0,2885135301,90d8babc-685f-449e-a4ec-7275ca7655c7,871d7336-1a5b-4926-8d12-c2102f55975b,Animalia,Arthropoda,Insecta,Hymenoptera,Apidae,Bombus,Bombus johanseni,NaN,SPECIES,"Bombus johanseni (Sladen, 1919) Sladen, 1919",Bombus johanseni Sladen,Sladen,CA,"Kitikmeot, Cambridge Bay",Nunavut,PRESENT,1.00,39fd7088-af63-4ad5-8d30-479a720a368b,69.13,-105.06,NaN,NaN,NaN,NaN,NaN,NaN,2018-08-09T00:00:00,9.00,8.00,2018,10827632,10827632.00,PRESERVED_SPECIMEN,CBG,NaN,DCHAR2640-19,NaN,Cory S. Sheffield,2020-01-01T00:00:00,CC0_1_0,NaN,Collector(s): CBG Team 3,NaN,NaN,2022-11-25T07:54:38.249Z,NaN,OCCURRENCE_STATUS_INFERRED_FROM_INDIVIDUAL_COU...
1,2885135303,90d8babc-685f-449e-a4ec-7275ca7655c7,60874093-5130-4d84-baa4-eafd4de80718,Animalia,Arthropoda,Insecta,Hymenoptera,Apidae,Bombus,Bombus johanseni,NaN,SPECIES,"Bombus johanseni (Sladen, 1919) Sladen, 1919",Bombus johanseni Sladen,Sladen,CA,"Sach's Harbour, Banks Island",Northwest Territories,PRESENT,1.00,39fd7088-af63-4ad5-8d30-479a720a368b,71.99,-125.25,NaN,NaN,NaN,NaN,NaN,NaN,2018-07-09T00:00:00,9.00,7.00,2018,10827632,10827632.00,PRESERVED_SPECIMEN,RSKM,ENT,RSKM_ENT_E-199719,NaN,Cory S. Sheffield,2020-01-01T00:00:00,CC_BY_4_0,NaN,Collector(s): J.M. Heron,NaN,NaN,2022-11-25T07:54:38.509Z,NaN,OCCURRENCE_STATUS_INFERRED_FROM_INDIVIDUAL_COU...
2,2885135305,90d8babc-685f-449e-a4ec-7275ca7655c7,6b69e42c-2710-46bb-8581-8a6c6f5701dc,Animalia,Arthropoda,Insecta,Hymenoptera,Apidae,Bombus,Bombus johanseni,NaN,SPECIES,"Bombus johanseni (Sladen, 1919) Sladen, 1919",Bombus johanseni Sladen,Sladen,CA,"Sach's Harbour, Banks Island",Northwest Territories,PRESENT,1.00,39fd7088-af63-4ad5-8d30-479a720a368b,71.99,-125.29,NaN,NaN,NaN,NaN,NaN,NaN,2018-07-07T00:00:00,7.00,7.00,2018,10827632,10827632.00,PRESERVED_SPECIMEN,RSKM,ENT,RSKM_ENT_E-199704,NaN,Cory S. Sheffield,2020-01-01T00:00:00,CC_BY_4_0,NaN,Collector(s): J.M. Heron,NaN,NaN,2022-11-25T07:54:38.551Z,NaN,OCCURRENCE_STATUS_INFERRED_FROM_INDIVIDUAL_COU...
3,2885135306,90d8babc-685f-449e-a4ec-7275ca7655c7,426e6fd4-8074-41a4-82ef-8c796837d99e,Animalia,Arthropoda,Insecta,Hymenoptera,Apidae,Bombus,Bombus johanseni,NaN,SPECIES,"Bombus johanseni (Sladen, 1919) Sladen, 1919",Bombus johanseni Sladen,Sladen,CA,"Sach's Harbour, Banks Island",Northwest Territories,PRESENT,1.00,39fd7088-af63-4ad5-8d30-479a720a368b,71.99,-125.24,NaN,NaN,NaN,NaN,NaN,NaN,2018-07-04T00:00:00,4.00,7.00,2018,10827632,10827632.00,PRESERVED_SPECIMEN,RSKM,ENT,RSKM_ENT_E-199663,NaN,Cory S. Sheffield,2020-01-01T00:00:00,CC_BY_4_0,NaN,Collector(s): J.M. Heron,NaN,NaN,2022-11-25T07:54:38.562Z,NaN,OCCURRENCE_STATUS_INFERRED_FROM_INDIVIDUAL_COU...
4,2885135307,90d8babc-685f-449e-a4ec-7275ca7655c7,0c105d9b-1325-4f81-9b29-158ac8eeb6f9,Animalia,Arthropoda,Insecta,Hymenoptera,Apidae,Bombus,Bombus johanseni,NaN,SPECIES,"Bombus johanseni (Sladen, 1919) Sladen, 1919",Bombus johanseni Sladen,Sladen,CA,"Sach's Harbour, Banks Island",Northwest Territories,PRESENT,1.00,39fd7088-af63-4ad5-8d30-479a720a368b,71.99,-125.24,NaN,NaN,NaN,NaN,NaN,NaN,2018-07-04T00:00:00,4.00,7.00,2018,10827632,10827632.00,PRESERVED_SPECIMEN,RSKM,ENT,RSKM_ENT_E-199662,NaN,Cory S. Sheffield,2020-01-01T00:00:00,CC_BY_4_0,NaN,Collector(s): J.M. Heron,NaN,NaN,2022-11-25T07:54:38.582Z,NaN,OCCURRENCE_STATUS_INFERRED_FROM_INDIVIDUAL_COU...

Data cleaning:
- remove non usefull columns
- assign right types, identify categories, dates
- rename features: 2 buckets, environment variables (localisation, time, ...) and specimen related
- Should I drop the rows where the occurenceId is null?

Possible metrics to display:
- how long betzwen dateIdentified and lastInterpreted, to get queue processing time -> get we get more performance metrics

Possible prediction
- predict a future occurence based on previous ones, and when: the occurence could be a disease, or the abscence presence of food, etc ....
-> impact of food on population
-> impact of bacteria/virus on some populations
- found correlation or non correlation between qpecies

In [33]:
df["collectionCode"].unique()
df["institutionCode"].value_counts()

# let's compute some metrics about the data freshness to subselect the data that make the more sense for us. Not sure we really care about this info if all we want to do is predict occurence of events or diagnose causes.
# avg time between observation and interpretation, per kingdom
# avg time between observation and interpretation, per country
# avg time between observation and interpretation, per org
# first we need to decompose the interpretation time, in day/month/year

UF                                                                 118732
NY                                                                  49647
NTSRV                                                               33014
YPM                                                                 32316
MO                                                                  29339
                                                                    ...
Maine Department of Environmental Protection                            1
UCR                                                                     1
NRM                                                                     1
McGill University                                                       1
Whats Invasive - Catskill Regional Invasive Species Partnership         1
Name: institutionCode, Length: 191, dtype: int64

In [34]:
# Dropping some data that looks duplicated or that does not useful at the moment
nonUsefulColumns = ["verbatimScientificNameAuthorship","scientificName","gbifID","mediaType","issue","license","rightsHolder","recordNumber","catalogNumber","taxonKey","speciesKey"]
df=df.drop(columns=nonUsefulColumns, errors='ignore')

# Planning to rename some columns to make them more begginer understandable...
speciesFeatures=["kingdom","phylum","class","order","family","genus","species","infraspecificEpithet","taxonRank","scientificName","verbatimScientificName","verbatimScientificNameAuthorship"]
# Create a dictionary mapping the old column names to the new column names
rename_dict = {col: "species_" + col for col in speciesFeatures}
# Rename the columns using the rename() method
df = df.rename(columns=rename_dict)

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 616318 entries, 0 to 616317
Data columns (total 39 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   datasetKey                      616318 non-null  object
 1   occurrenceID                    616301 non-null  object
 2   species_kingdom                 616318 non-null  object
 3   species_phylum                  613735 non-null  object
 4   species_class                   563890 non-null  object
 5   species_order                   540768 non-null  object
 6   species_family                  591741 non-null  object
 7   species_genus                   530786 non-null  object
 8   species_species                 455886 non-null  object
 9   species_infraspecificEpithet    21782 non-null   object
 10  species_taxonRank               616318 non-null  object
 11  species_verbatimScientificName  604027 non-null  object
 12  countryCode                     613282 non-null  object
 13  locality                        499963 non-null  object
 14  stateProvince                   594805 non-null  object
 15  occurrenceStatus                616318 non-null  object
 16  individualCount                 253318 non-null  float64
 17  publishingOrgKey                616318 non-null  object
 18  decimalLatitude                 536572 non-null  float64
 19  decimalLongitude                536572 non-null  float64
 20  coordinateUncertaintyInMeters   169598 non-null  float64
 21  coordinatePrecision             120 non-null     float64
 22  elevation                       131838 non-null  float64
 23  elevationAccuracy               77630 non-null   float64
 24  depth                           11972 non-null   float64
 25  depthAccuracy                   5689 non-null    float64
 26  eventDate                       616318 non-null  object
 27  day                             602572 non-null  float64
 28  month                           605523 non-null  float64
 29  year                            616318 non-null  int64
 30  basisOfRecord                   616318 non-null  object
 31  institutionCode                 515538 non-null  object
 32  collectionCode                  500744 non-null  object
 33  identifiedBy                    329860 non-null  object
 34  dateIdentified                  205128 non-null  object
 35  recordedBy                      498483 non-null  object
 36  typeStatus                      1353 non-null    object
 37  establishmentMeans              34958 non-null   object
 38  lastInterpreted                 616318 non-null  object
dtypes: float64(11), int64(1), object(27)
memory usage: 183.4+ MB

In [36]:
#After this first cleaning the dataset went from 235.1+ MB to 183.4+ MB

In [37]:
#let's focus on one part of the dataset
print(df["species_kingdom"].value_counts())
print(df["countryCode"].value_counts())

Animalia          393178
Plantae           166721
Fungi              54809
incertae sedis       893
Chromista            361
Bacteria             278
Protozoa              74
Viruses                4
Name: species_kingdom, dtype: int64
US    487784
CA     45360
CR     44261
NI      9066
PA      6512
MX      5950
BS      3208
JM      1827
GT      1789
DO      1158
BB      1005
BZ       893
TT       643
KY       584
DM       508
PR       469
SV       374
HN       351
AG       279
MW       279
ZZ       243
CW       232
CU        71
GP        71
GL        59
GD        49
VI        42
TC        41
UM        37
PM        29
MQ        23
BM        21
HT        19
KN        19
LC        17
CO         5
VG         2
FR         2
Name: countryCode, dtype: int64

In [38]:
#I will focus only on the US but still keep all the specicies, since it could be interesting to correlate species presence for now.
#df=df[(df["countryCode"]=="US") & (df["kingdom"]=="Animalia")]
df=df[(df["countryCode"]=="US")]
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 487784 entries, 41 to 616313
Data columns (total 39 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   datasetKey                      487784 non-null  object
 1   occurrenceID                    487770 non-null  object
 2   species_kingdom                 487784 non-null  object
 3   species_phylum                  485432 non-null  object
 4   species_class                   439564 non-null  object
 5   species_order                   420185 non-null  object
 6   species_family                  465264 non-null  object
 7   species_genus                   412179 non-null  object
 8   species_species                 349607 non-null  object
 9   species_infraspecificEpithet    19552 non-null   object
 10  species_taxonRank               487784 non-null  object
 11  species_verbatimScientificName  485646 non-null  object
 12  countryCode                     487784 non-null  object
 13  locality                        378901 non-null  object
 14  stateProvince                   477931 non-null  object
 15  occurrenceStatus                487784 non-null  object
 16  individualCount                 181500 non-null  float64
 17  publishingOrgKey                487784 non-null  object
 18  decimalLatitude                 417072 non-null  float64
 19  decimalLongitude                417072 non-null  float64
 20  coordinateUncertaintyInMeters   123816 non-null  float64
 21  coordinatePrecision             118 non-null     float64
 22  elevation                       52284 non-null   float64
 23  elevationAccuracy               15016 non-null   float64
 24  depth                           8642 non-null    float64
 25  depthAccuracy                   4845 non-null    float64
 26  eventDate                       487784 non-null  object
 27  day                             475402 non-null  float64
 28  month                           477385 non-null  float64
 29  year                            487784 non-null  int64
 30  basisOfRecord                   487784 non-null  object
 31  institutionCode                 428131 non-null  object
 32  collectionCode                  413933 non-null  object
 33  identifiedBy                    231474 non-null  object
 34  dateIdentified                  186098 non-null  object
 35  recordedBy                      416749 non-null  object
 36  typeStatus                      945 non-null     object
 37  establishmentMeans              30219 non-null   object
 38  lastInterpreted                 487784 non-null  object
dtypes: float64(11), int64(1), object(27)
memory usage: 148.9+ MB

In [39]:
df.head()

,datasetKey,occurrenceID,species_kingdom,species_phylum,species_class,species_order,species_family,species_genus,species_species,species_infraspecificEpithet,species_taxonRank,species_verbatimScientificName,countryCode,locality,stateProvince,occurrenceStatus,individualCount,publishingOrgKey,decimalLatitude,decimalLongitude,coordinateUncertaintyInMeters,coordinatePrecision,elevation,elevationAccuracy,depth,depthAccuracy,eventDate,day,month,year,basisOfRecord,institutionCode,collectionCode,identifiedBy,dateIdentified,recordedBy,typeStatus,establishmentMeans,lastInterpreted
41,8674480c-ebdc-42cf-8d42-c3762fe137d8,000c0b50-cf57-453b-b57b-34dc2fa9bf0d,Animalia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,KINGDOM,NaN,US,SDG&E TL 676 Mesa Heights to Mission Reconductor,California,PRESENT,2.00,8a471700-4ce8-11db-b80e-b8a03c50a862,32.80,-117.10,41.00,NaN,NaN,NaN,NaN,NaN,2018-12-04T00:00:00,4.00,12.00,2018,FOSSIL_SPECIMEN,SDNHM,Paleo,Eric G. Ekdale,2019-01-01T00:00:00,Evan M. Martin,NaN,NaN,2022-11-25T07:36:50.507Z
42,8674480c-ebdc-42cf-8d42-c3762fe137d8,00b65010-bd29-48b5-8e42-54aeb40cb44b,Animalia,Mollusca,Bivalvia,Cardiida,Tellinidae,NaN,NaN,NaN,FAMILY,Tellinidae,US,SDG&E Mission EDE Site Improvements,California,PRESENT,1.00,8a471700-4ce8-11db-b80e-b8a03c50a862,32.80,-117.10,20.00,NaN,NaN,NaN,NaN,NaN,2020-03-06T00:00:00,6.00,3.00,2020,FOSSIL_SPECIMEN,SDNHM,Paleo,Eric G. Ekdale,2021-01-01T00:00:00,Plouffe,NaN,NaN,2022-11-25T07:36:50.571Z
43,8674480c-ebdc-42cf-8d42-c3762fe137d8,0166a921-386e-44a6-a25d-ff3218640b53,Animalia,Mollusca,Gastropoda,NaN,NaN,NaN,NaN,NaN,CLASS,Gastropoda,US,Nimitz Crossing,California,PRESENT,2.00,8a471700-4ce8-11db-b80e-b8a03c50a862,32.70,-117.20,43.00,NaN,NaN,NaN,NaN,NaN,2018-08-22T00:00:00,22.00,8.00,2018,FOSSIL_SPECIMEN,SDNHM,Paleo,George L. Kennedy,2019-01-01T00:00:00,George L. Kennedy; Todd A. Wirths,NaN,NaN,2022-11-25T07:36:50.683Z
44,8674480c-ebdc-42cf-8d42-c3762fe137d8,02557613-861d-41dd-8c04-d02b1cf195d4,Plantae,Tracheophyta,NaN,NaN,NaN,NaN,NaN,NaN,PHYLUM,NaN,US,Alexandria Tech Center Building E,California,PRESENT,3.00,8a471700-4ce8-11db-b80e-b8a03c50a862,32.90,-117.20,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-15T00:00:00,15.00,12.00,2020,FOSSIL_SPECIMEN,SDNHM,Paleo,Eric G. Ekdale,2021-01-01T00:00:00,Riney,NaN,NaN,2022-11-25T07:36:50.702Z
45,8674480c-ebdc-42cf-8d42-c3762fe137d8,02eac784-4f00-4821-a70e-f5c0cc2952da,Animalia,Mollusca,Bivalvia,Nuculanida,Nuculanidae,Saccella,Saccella taphria,NaN,SPECIES,Nuculana taphria,US,Caltrans Construct Commuter Bike Facility,California,PRESENT,1.00,8a471700-4ce8-11db-b80e-b8a03c50a862,32.80,-117.10,NaN,NaN,NaN,NaN,NaN,NaN,2016-05-18T00:00:00,18.00,5.00,2016,FOSSIL_SPECIMEN,SDNHM,Paleo,Eric G. Ekdale,2017-01-01T00:00:00,See locality card,NaN,NaN,2022-11-25T07:36:50.706Z

In [40]:
#After this first cleaning the dataset went from 183.4+ MB to 148.9+ MB

# I see 3 types of data: eventDate, dateIdentified and lastInterpreted. 
# I will rename them to make them more explicit, and assign the right type and check if it impacts the memory usage. Ultimately I can drop the dateIdentified since almost 2 third is not set...
dateColumnNames = {"lastInterpreted":"lastInterpretationDate","dateIdentified":"identificationDate","eventDate":"eventObservationDate"}
df = df.rename(columns=dateColumnNames)


# let's assign the right dtype. However, one column contains dates in UTC timezone, the 2 others we don't know timezone... So I will consider that it's UTC too and force it, because else it's just wild guess assumptions... 
# I do not worry about any date format at this point.

# df[dateColumnNames.values()] = pd.to_datetime(df[dateColumnNames.values()], infer_datetime_format=True, errors="coerce")
#df["lastInterpretationDate"] = pd.to_datetime(df["lastInterpretationDate"], infer_datetime_format=True, errors="coerce")
#df["identificationDate"] = pd.to_datetime(df["identificationDate"], infer_datetime_format=True, errors="coerce")
for col in dateColumnNames.values():
    # Convert column to datetime data type
    df[col] = pd.to_datetime(df[col], infer_datetime_format=True, utc=True, errors="coerce")

In [41]:
print(f"Memory usage: {df.memory_usage(deep=True).sum()} bytes")
missing_count = df[dateColumnNames.values()].isnull().sum()
print(missing_count)

Memory usage: 832159365 bytes
lastInterpretationDate         0
identificationDate        301690
eventObservationDate           0
dtype: int64

In [42]:
#Finally, I see that identificationDate has a lot of missing values which makes it useless for me. So I will just drop it.
df = df.drop(columns="identificationDate")

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 487784 entries, 41 to 616313
Data columns (total 38 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   datasetKey                      487784 non-null  object
 1   occurrenceID                    487770 non-null  object
 2   species_kingdom                 487784 non-null  object
 3   species_phylum                  485432 non-null  object
 4   species_class                   439564 non-null  object
 5   species_order                   420185 non-null  object
 6   species_family                  465264 non-null  object
 7   species_genus                   412179 non-null  object
 8   species_species                 349607 non-null  object
 9   species_infraspecificEpithet    19552 non-null   object
 10  species_taxonRank               487784 non-null  object
 11  species_verbatimScientificName  485646 non-null  object
 12  countryCode                     487784 non-null  object
 13  locality                        378901 non-null  object
 14  stateProvince                   477931 non-null  object
 15  occurrenceStatus                487784 non-null  object
 16  individualCount                 181500 non-null  float64
 17  publishingOrgKey                487784 non-null  object
 18  decimalLatitude                 417072 non-null  float64
 19  decimalLongitude                417072 non-null  float64
 20  coordinateUncertaintyInMeters   123816 non-null  float64
 21  coordinatePrecision             118 non-null     float64
 22  elevation                       52284 non-null   float64
 23  elevationAccuracy               15016 non-null   float64
 24  depth                           8642 non-null    float64
 25  depthAccuracy                   4845 non-null    float64
 26  eventObservationDate            487784 non-null  datetime64[ns, UTC]
 27  day                             475402 non-null  float64
 28  month                           477385 non-null  float64
 29  year                            487784 non-null  int64
 30  basisOfRecord                   487784 non-null  object
 31  institutionCode                 428131 non-null  object
 32  collectionCode                  413933 non-null  object
 33  identifiedBy                    231474 non-null  object
 34  recordedBy                      416749 non-null  object
 35  typeStatus                      945 non-null     object
 36  establishmentMeans              30219 non-null   object
 37  lastInterpretationDate          487784 non-null  datetime64[ns, UTC]
dtypes: datetime64[ns, UTC](2), float64(11), int64(1), object(24)
memory usage: 145.1+ MB

In [44]:
# Now that I have datetime objects, I don't need independent day/month/year properties. Even more if some of them have null values
df = df.drop(columns=["day","month","year"])
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 487784 entries, 41 to 616313
Data columns (total 35 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   datasetKey                      487784 non-null  object
 1   occurrenceID                    487770 non-null  object
 2   species_kingdom                 487784 non-null  object
 3   species_phylum                  485432 non-null  object
 4   species_class                   439564 non-null  object
 5   species_order                   420185 non-null  object
 6   species_family                  465264 non-null  object
 7   species_genus                   412179 non-null  object
 8   species_species                 349607 non-null  object
 9   species_infraspecificEpithet    19552 non-null   object
 10  species_taxonRank               487784 non-null  object
 11  species_verbatimScientificName  485646 non-null  object
 12  countryCode                     487784 non-null  object
 13  locality                        378901 non-null  object
 14  stateProvince                   477931 non-null  object
 15  occurrenceStatus                487784 non-null  object
 16  individualCount                 181500 non-null  float64
 17  publishingOrgKey                487784 non-null  object
 18  decimalLatitude                 417072 non-null  float64
 19  decimalLongitude                417072 non-null  float64
 20  coordinateUncertaintyInMeters   123816 non-null  float64
 21  coordinatePrecision             118 non-null     float64
 22  elevation                       52284 non-null   float64
 23  elevationAccuracy               15016 non-null   float64
 24  depth                           8642 non-null    float64
 25  depthAccuracy                   4845 non-null    float64
 26  eventObservationDate            487784 non-null  datetime64[ns, UTC]
 27  basisOfRecord                   487784 non-null  object
 28  institutionCode                 428131 non-null  object
 29  collectionCode                  413933 non-null  object
 30  identifiedBy                    231474 non-null  object
 31  recordedBy                      416749 non-null  object
 32  typeStatus                      945 non-null     object
 33  establishmentMeans              30219 non-null   object
 34  lastInterpretationDate          487784 non-null  datetime64[ns, UTC]
dtypes: datetime64[ns, UTC](2), float64(9), object(24)
memory usage: 134.0+ MB

In [45]:
# I will continue assigning correct dtype. The current memory usage is 134.0+ MB
# I will start that the columns that probably should be a category. Certainly all the column that helps classify the species should be a good target
column_list = df.filter(regex="species_").columns
for col in column_list:
    ratio = df[col].nunique() / df.shape[0]
    print(f"Ratio of unique values to rows for column '{col}': {ratio:.2f}")

Ratio of unique values to rows for column 'species_kingdom': 0.00
Ratio of unique values to rows for column 'species_phylum': 0.00
Ratio of unique values to rows for column 'species_class': 0.00
Ratio of unique values to rows for column 'species_order': 0.00
Ratio of unique values to rows for column 'species_family': 0.01
Ratio of unique values to rows for column 'species_genus': 0.03
Ratio of unique values to rows for column 'species_species': 0.07
Ratio of unique values to rows for column 'species_infraspecificEpithet': 0.00
Ratio of unique values to rows for column 'species_taxonRank': 0.00
Ratio of unique values to rows for column 'species_verbatimScientificName': 0.11

In [46]:
# Looks like good target indeed!
# "genus", "family" and "species" and "verbatimspecific name" might not be good candidate since the cardinality is still high. I will revisit the choice later.
category_list = list(filter(lambda x: x not in ["species_species","species_family","species_genus","species_verbatimScientificName"], column_list))
df[category_list] = df[category_list].astype('category')
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 487784 entries, 41 to 616313
Data columns (total 35 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   datasetKey                      487784 non-null  object
 1   occurrenceID                    487770 non-null  object
 2   species_kingdom                 487784 non-null  category
 3   species_phylum                  485432 non-null  category
 4   species_class                   439564 non-null  category
 5   species_order                   420185 non-null  category
 6   species_family                  465264 non-null  object
 7   species_genus                   412179 non-null  object
 8   species_species                 349607 non-null  object
 9   species_infraspecificEpithet    19552 non-null   category
 10  species_taxonRank               487784 non-null  category
 11  species_verbatimScientificName  485646 non-null  object
 12  countryCode                     487784 non-null  object
 13  locality                        378901 non-null  object
 14  stateProvince                   477931 non-null  object
 15  occurrenceStatus                487784 non-null  object
 16  individualCount                 181500 non-null  float64
 17  publishingOrgKey                487784 non-null  object
 18  decimalLatitude                 417072 non-null  float64
 19  decimalLongitude                417072 non-null  float64
 20  coordinateUncertaintyInMeters   123816 non-null  float64
 21  coordinatePrecision             118 non-null     float64
 22  elevation                       52284 non-null   float64
 23  elevationAccuracy               15016 non-null   float64
 24  depth                           8642 non-null    float64
 25  depthAccuracy                   4845 non-null    float64
 26  eventObservationDate            487784 non-null  datetime64[ns, UTC]
 27  basisOfRecord                   487784 non-null  object
 28  institutionCode                 428131 non-null  object
 29  collectionCode                  413933 non-null  object
 30  identifiedBy                    231474 non-null  object
 31  recordedBy                      416749 non-null  object
 32  typeStatus                      945 non-null     object
 33  establishmentMeans              30219 non-null   object
 34  lastInterpretationDate          487784 non-null  datetime64[ns, UTC]
dtypes: category(6), datetime64[ns, UTC](2), float64(9), object(18)
memory usage: 115.9+ MB

In [47]:
# I will do the same thing for the other columns.
# First I will rename to group some of them ...
env_columns = ["countryCode","locality","stateProvince","decimalLatitude","decimalLongitude","coordinateUncertaintyInMeters","coordinatePrecision","elevation","elevationAccuracy","depth","depthAccuracy","eventObservationDate"]
meta_column = ["occurrenceStatus","individualCount","publishingOrgKey","basisOfRecord","institutionCode","collectionCode","identifiedBy","recordedBy","typeStatus","establishmentMeans","lastInterpretationDate"]

df = df.rename(columns={col:"env_"+col for col in env_columns})
df = df.rename(columns={col:"meta_"+col for col in meta_column})

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 487784 entries, 41 to 616313
Data columns (total 35 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   datasetKey                         487784 non-null  object
 1   occurrenceID                       487770 non-null  object
 2   species_kingdom                    487784 non-null  category
 3   species_phylum                     485432 non-null  category
 4   species_class                      439564 non-null  category
 5   species_order                      420185 non-null  category
 6   species_family                     465264 non-null  object
 7   species_genus                      412179 non-null  object
 8   species_species                    349607 non-null  object
 9   species_infraspecificEpithet       19552 non-null   category
 10  species_taxonRank                  487784 non-null  category
 11  species_verbatimScientificName     485646 non-null  object
 12  env_countryCode                    487784 non-null  object
 13  env_locality                       378901 non-null  object
 14  env_stateProvince                  477931 non-null  object
 15  meta_occurrenceStatus              487784 non-null  object
 16  meta_individualCount               181500 non-null  float64
 17  meta_publishingOrgKey              487784 non-null  object
 18  env_decimalLatitude                417072 non-null  float64
 19  env_decimalLongitude               417072 non-null  float64
 20  env_coordinateUncertaintyInMeters  123816 non-null  float64
 21  env_coordinatePrecision            118 non-null     float64
 22  env_elevation                      52284 non-null   float64
 23  env_elevationAccuracy              15016 non-null   float64
 24  env_depth                          8642 non-null    float64
 25  env_depthAccuracy                  4845 non-null    float64
 26  env_eventObservationDate           487784 non-null  datetime64[ns, UTC]
 27  meta_basisOfRecord                 487784 non-null  object
 28  meta_institutionCode               428131 non-null  object
 29  meta_collectionCode                413933 non-null  object
 30  meta_identifiedBy                  231474 non-null  object
 31  meta_recordedBy                    416749 non-null  object
 32  meta_typeStatus                    945 non-null     object
 33  meta_establishmentMeans            30219 non-null   object
 34  meta_lastInterpretationDate        487784 non-null  datetime64[ns, UTC]
dtypes: category(6), datetime64[ns, UTC](2), float64(9), object(18)
memory usage: 115.9+ MB

In [48]:
# some of the properties have low cardinality... If I can not extrapolate or makes sense of the values, better to drop them.
# I will compute the ration # values / # null values for each columns
for col in df.columns:
    # Calculate the ratio of null values
    ratio = df[col].isnull().sum() / df[col].shape[0]
    # Print the ratio
    print(f"ratio null value for column {col}: {ratio}")

ratio null value for column datasetKey: 0.0
ratio null value for column occurrenceID: 2.870122841257606e-05
ratio null value for column species_kingdom: 0.0
ratio null value for column species_phylum: 0.004821806373312778
ratio null value for column species_class: 0.09885523100388696
ratio null value for column species_order: 0.1385838813901235
ratio null value for column species_family: 0.04616797598937235
ratio null value for column species_genus: 0.1549968838666295
ratio null value for column species_species: 0.2832749741688944
ratio null value for column species_infraspecificEpithet: 0.9599166844340937
ratio null value for column species_taxonRank: 0.0
ratio null value for column species_verbatimScientificName: 0.004383087596149115
ratio null value for column env_countryCode: 0.0
ratio null value for column env_locality: 0.2232197038033228
ratio null value for column env_stateProvince: 0.02019951453922228
ratio null value for column meta_occurrenceStatus: 0.0
ratio null value for column meta_individualCount: 0.627909074508389
ratio null value for column meta_publishingOrgKey: 0.0
ratio null value for column env_decimalLatitude: 0.14496580453643415
ratio null value for column env_decimalLongitude: 0.14496580453643415
ratio null value for column env_coordinateUncertaintyInMeters: 0.7461663359191774
ratio null value for column env_coordinatePrecision: 0.9997580896462369
ratio null value for column env_elevation: 0.8928132124054909
ratio null value for column env_elevationAccuracy: 0.9692158824397684
ratio null value for column env_depth: 0.9822831417184655
ratio null value for column env_depthAccuracy: 0.990067324881505
ratio null value for column env_eventObservationDate: 0.0
ratio null value for column meta_basisOfRecord: 0.0
ratio null value for column meta_institutionCode: 0.12229388417824283
ratio null value for column meta_collectionCode: 0.15140102996408247
ratio null value for column meta_identifiedBy: 0.525457989601955
ratio null value for column meta_recordedBy: 0.14562798287766715
ratio null value for column meta_typeStatus: 0.9980626670821511
ratio null value for column meta_establishmentMeans: 0.9380483984714546
ratio null value for column meta_lastInterpretationDate: 0.0

In [49]:
# I will drop all the precision/accuracy columns: lot of null values and no idea how I could extrapolate them meaningfully. For CoordinateUncertainty, I could assign also 0 to null values, but I won't use it, so I drop it too.
df = df.drop(columns=["env_coordinateUncertaintyInMeters","env_coordinatePrecision","env_elevationAccuracy","env_depthAccuracy"])
# "meta_identifiedBy" and "meta_establishmentMeans" also have a high level of null values and I have no usage of "meta_recordedBy"
df = df.drop(columns=["meta_identifiedBy","meta_establishmentMeans","meta_recordedBy"])

In [50]:
# depth and elevation are also high, but I will keep them and assume that null means 0 level
# At the same time I will assign the right numeric dtype and round/trunc when needed: float is ok, 1 decimal precision.
# By looking and the range, I also deduce that they are in feet. I will convert them to meters and will rename them appropraitely
print(df[['env_depth', 'env_elevation']].describe().loc[['min', 'max']])
df = df.rename(columns={"env_depth": "env_depthInMeters", "env_elevation": "env_elevationInMeters"})
df[['env_depthInMeters', 'env_elevationInMeters']] = (df[['env_depthInMeters', 'env_elevationInMeters']] * 0.3048).fillna(0).astype("float32").round(1)
df.info()

     env_depth  env_elevation
min       0.00        -339.00
max    5832.04        7114.00
<class 'pandas.core.frame.DataFrame'>
Int64Index: 487784 entries, 41 to 616313
Data columns (total 28 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   datasetKey                      487784 non-null  object
 1   occurrenceID                    487770 non-null  object
 2   species_kingdom                 487784 non-null  category
 3   species_phylum                  485432 non-null  category
 4   species_class                   439564 non-null  category
 5   species_order                   420185 non-null  category
 6   species_family                  465264 non-null  object
 7   species_genus                   412179 non-null  object
 8   species_species                 349607 non-null  object
 9   species_infraspecificEpithet    19552 non-null   category
 10  species_taxonRank               487784 non-null  category
 11  species_verbatimScientificName  485646 non-null  object
 12  env_countryCode                 487784 non-null  object
 13  env_locality                    378901 non-null  object
 14  env_stateProvince               477931 non-null  object
 15  meta_occurrenceStatus           487784 non-null  object
 16  meta_individualCount            181500 non-null  float64
 17  meta_publishingOrgKey           487784 non-null  object
 18  env_decimalLatitude             417072 non-null  float64
 19  env_decimalLongitude            417072 non-null  float64
 20  env_elevationInMeters           487784 non-null  float32
 21  env_depthInMeters               487784 non-null  float32
 22  env_eventObservationDate        487784 non-null  datetime64[ns, UTC]
 23  meta_basisOfRecord              487784 non-null  object
 24  meta_institutionCode            428131 non-null  object
 25  meta_collectionCode             413933 non-null  object
 26  meta_typeStatus                 945 non-null     object
 27  meta_lastInterpretationDate     487784 non-null  datetime64[ns, UTC]
dtypes: category(6), datetime64[ns, UTC](2), float32(2), float64(3), object(15)
memory usage: 86.2+ MB

In [51]:
print(df[['env_depthInMeters', 'env_elevationInMeters']].describe().loc[['min', 'max']])

     env_depthInMeters  env_elevationInMeters
min               0.00                -103.30
max            1777.60                2168.30

In [59]:
df[["env_stateProvince", "env_countryCode"]] = df[["env_stateProvince", "env_countryCode"]].astype("category")

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 487784 entries, 41 to 616313
Data columns (total 28 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   datasetKey                      487784 non-null  object
 1   occurrenceID                    487770 non-null  object
 2   species_kingdom                 487784 non-null  category
 3   species_phylum                  485432 non-null  category
 4   species_class                   439564 non-null  category
 5   species_order                   420185 non-null  category
 6   species_family                  465264 non-null  object
 7   species_genus                   412179 non-null  object
 8   species_species                 349607 non-null  object
 9   species_infraspecificEpithet    19552 non-null   category
 10  species_taxonRank               487784 non-null  category
 11  species_verbatimScientificName  485646 non-null  object
 12  env_countryCode                 487784 non-null  category
 13  env_locality                    378901 non-null  object
 14  env_stateProvince               477931 non-null  category
 15  meta_occurrenceStatus           487784 non-null  object
 16  meta_individualCount            181500 non-null  float64
 17  meta_publishingOrgKey           487784 non-null  object
 18  env_decimalLatitude             417072 non-null  float64
 19  env_decimalLongitude            417072 non-null  float64
 20  env_elevationInMeters           487784 non-null  float32
 21  env_depthInMeters               487784 non-null  float32
 22  env_eventObservationDate        487784 non-null  datetime64[ns, UTC]
 23  meta_basisOfRecord              487784 non-null  object
 24  meta_institutionCode            428131 non-null  object
 25  meta_collectionCode             413933 non-null  object
 26  meta_typeStatus                 945 non-null     object
 27  meta_lastInterpretationDate     487784 non-null  datetime64[ns, UTC]
dtypes: category(8), datetime64[ns, UTC](2), float32(2), float64(3), object(13)
memory usage: 79.7+ MB

In [28]:
# The previous conversions should have helped save memory usage but it does not look like that right now -> need to check differently.
memory_usage = df['coordinatePrecision'].memory_usage(deep=False)
print(memory_usage)
year = df['year'].memory_usage(deep=True)
print(year)

rows = df[df['identificationDate'].notnull() & (df['lastInterpretationDate'].ne(df['identificationDate']))]
num_rows = rows.shape[0]

print(f"Number of rows: {num_rows}")

7804544
7804544
Number of rows: 186094

In [17]:
df['basisOfRecord'].value_counts()

PRESERVED_SPECIMEN     151113
FOSSIL_SPECIMEN        103054
HUMAN_OBSERVATION       31216
OCCURRENCE               5518
MACHINE_OBSERVATION      1663
MATERIAL_SAMPLE          1614
LIVING_SPECIMEN            28
Name: basisOfRecord, dtype: int64

In [17]:
df.nunique().index[df.nunique() <=2 ]
df["establishmentMeans"].unique()
df['establishmentMeans'].value_counts()
unique_value_counts = df.nunique()

# Sort the DataFrame by the unique value counts and get the sorted column names
sorted_columns = unique_value_counts.sort_values(ascending=False).index

# Print the sorted list of column names
print(sorted_columns)

Index(['gbifID', 'occurrenceID', 'catalogNumber', 'lastInterpreted',
       'recordNumber', 'verbatimScientificName', 'decimalLatitude',
       'decimalLongitude', 'locality', 'taxonKey', 'scientificName',
       'speciesKey', 'species', 'verbatimScientificNameAuthorship',
       'recordedBy', 'genus', 'elevation', 'identifiedBy', 'family',
       'infraspecificEpithet', 'eventDate', 'dateIdentified',
       'elevationAccuracy', 'depth', 'coordinateUncertaintyInMeters', 'order',
       'issue', 'stateProvince', 'rightsHolder', 'individualCount',
       'datasetKey', 'collectionCode', 'institutionCode', 'class',
       'depthAccuracy', 'publishingOrgKey', 'phylum', 'mediaType',
       'countryCode', 'day', 'month', 'taxonRank', 'typeStatus', 'kingdom',
       'basisOfRecord', 'year', 'coordinatePrecision', 'license',
       'establishmentMeans', 'occurrenceStatus'],
      dtype='object')

In [ ]:
# Generate an interactive HTML report
profile = ProfileReport(df, title="Pandas Profiling Report")

# Display the report
profile.to_notebook_iframe()

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

In [ ]:
# Determine which species and geographic regions to focus on
# You might want to use df.groupby() and df.describe() to explore the data and identify trends or patterns

# Filter the data
# Use df.loc[] to select only the rows and columns of interest
# For example, to select only rows for a specific species, use df.loc[df['species'] == 'species_name']

# Clean the data
# Use df.dropna() or df.fillna() to remove or impute missing values
# Use df.apply() or df.map() to apply custom transformations to the data

# Save the cleaned and filtered data to a new file
# Use df.to_csv() to save the data to a CSV file
# Replace 'path/to/cleaned_data.csv' with the filepath where you want to save the cleaned data
df.to_csv('path/to/cleaned_data.csv', index=False)

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 483557 entries, ('2885135301\t90d8babc-685f-449e-a4ec-7275ca7655c7\t871d7336-1a5b-4926-8d12-c2102f55975b\tAnimalia\tArthropoda\tInsecta\tHymenoptera\tApidae\tBombus\tBombus johanseni\t\tSPECIES\tBombus johanseni (Sladen', ' 1919) Sladen', ' 1919\tBombus johanseni  Sladen\tSladen\tCA\tKitikmeot') to ('2844347830\t8a863029-f435-446a-821e-275f4f641165\thttps://observation.org/observation/171335228\tAnimalia\tChordata\tMammalia\tArtiodactyla\tBovidae\tSyncerus\tSyncerus caffer\t\tSPECIES\tSyncerus caffer (Sparrman', ' 1779)\tSyncerus caffer\t\tMW\tMalawi - Liwonde NP\t\tPRESENT\t1\tc8d737e0-2ff8-42e8-b8fc-6b805d26fc5f\t-14.870388\t35.306393\t25.0\t\t\t\t\t\t2019-04-28T00:00:00\t28\t4\t2019\t2441034\t2441034\tHUMAN_OBSERVATION\t\tObservations\tOBS.171335228\t\t\t\tCC_BY_NC_4_0\tStichting Observation International\tUser 14593\t\t\t2022-12-19T19:56:59.922Z\t\tOCCURRENCE_STATUS_INFERRED_FROM_INDIVIDUAL_COUNT;COORDINATE_ROUNDED', nan)
Data columns (total 1 columns):
 #   Column                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       Non-Null Count  Dtype
---  ------                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       --------------  -----
 0   gbifID	datasetKey	occurrenceID	kingdom	phylum	class	order	family	genus	species	infraspecificEpithet	taxonRank	scientificName	verbatimScientificName	verbatimScientificNameAuthorship	countryCode	locality	stateProvince	occurrenceStatus	individualCount	publishingOrgKey	decimalLatitude	decimalLongitude	coordinateUncertaintyInMeters	coordinatePrecision	elevation	elevationAccuracy	depth	depthAccuracy	eventDate	day	month	year	taxonKey	speciesKey	basisOfRecord	institutionCode	collectionCode	catalogNumber	recordNumber	identifiedBy	dateIdentified	license	rightsHolder	recordedBy	typeStatus	establishmentMeans	lastInterpreted	mediaType	issue  94662 non-null  object
dtypes: object(1)
memory usage: 44.1+ MB

FileNotFoundError: ignored